.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.menu__parallax-image {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    height: 500px;
    overflow: hidden;
}

.menu__parallax-image-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.menu__parallax-image-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu__bar {
    position: fixed;
    top: 0;
    width: calc(100% - 4em);
    margin-top: 1em;
    display: flex;
    background: var(--fg);
    border-radius: 2em;
    overflow: hidden;
    pointer-events: all;
    z-index: 2;
}

.menu__bar-container {
    background-color: transparent;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.7em 0.1em 1em;
}

.menu__logo a {
    position: relative;
    display: inline-block;
    top: -0.05em;
    color: var(--bg);
}

.menu__actions {
    display: flex;
    align-items: center;
    gap: 2em;
}

.menu__toggle {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__hamburger {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    height: 50px;
    width: 80px;
    background: transparent;
    transition: all .3s;
    cursor: pointer;
}

.menu__hamburger:hover {
    transform: translateY(2px);
}

.menu__hamburger:before,
.menu__hamburger:after {
    content: "";
    position: absolute;
    background: var(--bg);
    transition: all .8s ease-in-out;
    will-change: transform;
    mix-blend-mode: difference;
}

.menu__hamburger:before {
    transform: translateY(-5px);
    width: 50px;
    height: 2px;
}

.menu__hamburger:after {
    transform: translateY(3px);
    width: 25px;
    height: 2px;
}

.menu__hamburger--active:before {
    transform: translateY(0) rotate(225deg);
    width: 25px;
}

.menu__hamburger--active:after {
    transform: translateY(0) rotate(135deg);
    width: 50px;
}

.menu__content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4em);
    height: calc(100svh - 4em);
    background: transparent;
    border-radius: 1rem;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    padding-right: 15em;
}

.menu__content--open {
    pointer-events: none;
}

.menu__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 4em;
    pointer-events: all;
}

.menu__sub-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2em 0;
}

.menu__link-item-holder {
    position: relative;
    overflow: hidden;
    pointer-events: all;
}

.menu__link {
    font-size: 5vw;
    font-family: "Rader", sans-serif;
    position: relative;
    padding: .1em;
    pointer-events: all;
    color: var(--bg);
    width: 525px;
    height: 120px;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    will-change: clip-path;
}

.menu__link:hover {
    background: var(--bg);
    border-radius: 7px;
    color: black;
}

.menu__main-link {
    position: relative;
    overflow: hidden;
    color: var(--bg);
    text-decoration: none;
    transition: color 0.3s;
    padding: .2em;
    border-radius: 7px;
    font-size: 5vw;
    font-family: "Rader", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    background: none;
    display: inline-block;
    z-index: 1;
}

.menu__main-link::after {
    content: '';
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    height: 100%;
    background: var(--bg);
    border-radius: 7px 7px 0 0;
    z-index: 0;
    transform: translateY(100%);
    transition: transform 0.35s cubic-bezier(0.65,0,0.35,1);
}

.menu__main-link:hover,
.menu__main-link:focus {
    color: black;
}

.menu__main-link:hover::after,
.menu__main-link:focus::after {
    transform: translateY(0);
}

.menu__main-link span {
    position: relative;
    z-index: 1;
}

.menu__socials {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.menu__socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 1em;    
}

.menu__socials-list li, 
.menu__social-link {
    pointer-events: all;
}

.menu__social-link {
    position: relative;
    overflow: hidden;
    color: var(--bg);
    text-decoration: none;
    transition: color 0.3s;
    padding: .2em;
}

.menu__social-link::after {
    content: '';
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    height: 100%;
    background: var(--bg);
    border-radius: 7px 7px 0 0;
    z-index: 0;
    transform: translateY(100%);
    transition: transform 0.35s cubic-bezier(0.65,0,0.35,1);
}

.menu__social-link:hover,
.menu__social-link:focus {
    color: black;
}

.menu__social-link:hover::after,
.menu__social-link:focus::after {
    transform: translateY(0);
}

.menu__social-link span {
    position: relative;
    z-index: 1;
}

.menu__content--open .menu__parallax-image {
    pointer-events: all;
}

@media (max-width: 1200px) {
    .menu__link,
    .menu__main-link {
        font-size: 6vw;
    }
    .menu__social-link {
        font-size: 0.95rem;
    }
    .menu__bar{
        width: calc(100% - 3em);
        margin-top: .5em;
    }
    .menu__logo h4{
        font-size: 1.5rem;
    }
    .menu__parallax-image{
        display: none;
    }
}

@media (max-width: 1000px) {
    .menu__bar {
        max-width: 960px;
    }
}

@media (max-width: 900px) {
    .menu__link,
    .menu__main-link {
        font-size: 7vw;
    }
    .menu__social-link {
        font-size: 0.9rem;
    }
    .menu__bar {
        max-width: 720px;
    }
}

@media (max-width: 600px) {
    .menu__link,
    .menu__main-link {
        font-size: 9vw;
        width: 230px;
    }
    .menu__social-link {
        font-size: 0.85rem;
    }
    .menu__bar {
        max-width: 540px;
    }
    .menu__logo h4{
        font-size: 1.2rem;
    }
    .menu__sub-col{
        width: 230px;
    }
}

@media (max-width: 400px) {
    .menu__link,
    .menu__main-link {
        font-size: 11vw;
    }
    .menu__social-link {
        font-size: 0.8rem;
    }
    .menu__bar {
        max-width: 100%;
    }
}

body.menu-opened {
    overflow: hidden;
}
